<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Test Main Site</title>
</head>
<body>
    <form method="post" action="/test"> 
    <h1>Test Site</h1>
    <textarea id="result" readonly>result: </textarea>
    <input type='number', name="amount"></input>
    <button type="submit">Test</button>
    </form>
    <footer>
        <script src="js/test.js"></script>
    </footer>
</body>
</html>